body, html {
  clear: both;
  background-color: #ffd1b5;
}

h1 {
  text-align: center;
  font-weight: 500;
  color: #ff6302;
  background-color: #1e74ff;
  padding: 2rem 0;
  margin-bottom: 0;
  margin: 0 33%;
  border-radius: 1.5rem;
}

.quizTitle {
  text-align: center;
  font-weight: 300;
  color: #ff6302;
  background-color: #1e74ff;
  padding: 1rem 0;
  margin: 1rem 33%;
  border-radius: 1.25rem;
}

.question {
  text-align: center;
}
